*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.col-5 {
  width: 62.5%;
}

.sidebar-col-2{
  width: 25%;
}

.sidebar-col-2 button {
  width: 80%;
}


.col-8 .col-4 {
  width: 45%;
}

.col-8{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
