.menu {
  width: 100%;
  background-color: #1EB1FC;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mmenu {
  width: 100%;
  background-color: #4BC1FD;
  display: none;
}

.mmenu-btn {
  margin-left: 10px;
}

.menu > li:hover .ddmenu{
  display: block;
}

.menu >li .logo {
  width: 70px;
}

.ddmenu{
  display: none;
  background-color: #0094FF;
  position: absolute;
  width: auto;
  border-radius: 10px;
  margin-right: 5px;
}


.ddmenu button {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.ddmenu h3 {
  font-weight: normal;
}

.ddmenu p {
  font-size: 20px;
}

.ddmenu img {
  margin-top: 5px;
}

select {
  color: white;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #0094FF;
}

header ul {
  list-style: none;
  margin: 0;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  padding: 5px 2px;
}

.menu a {
  text-decoration: none;
  color: white;
}

body {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.dates a{
  text-decoration: none;
  color: white;
}

.row p{
  padding: 2% 5%;
  margin: 10px;
}

.headers{
  display: flex;
}

.headers h2 {
  margin-left: 5px;
}

.screen-2{
  display: flex;
}

.days-number{
  padding: 5px 10px;
  background-color: #4BC1FD;
  width:8%;
  text-align: center;
  border-radius: 0 10px 10px 0;
  color: white;
}

.paragraph {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.paragraph img{
  width: 50%;
}

.paragraph p{
  padding: 10px 0;
}

.dates p{
  background: #4BC1FD;
  border-radius: 10px;
}

.sidebar-col-2 {
  margin-top: 10px;
  background-color: #4BC1FD;
  color:white;
  border-radius: 10px;
  margin-bottom: 10px;
}


button {
  background-color: #FFE600;
  color:#000000;
  border-radius: 50px;
  border: none;
}

.text {
  width: 45%;
}

.screen-2 {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.col-5 p{
  padding: 10px 0;
}

footer {
  width: 100%;
  background-color: #4BC1FD;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.mobile-footer {
  display: none;
}

footer p{
  color: white;
}

.contact-info a{
  text-decoration: none;
  color: white;
}

.contact-info {
  margin: auto 0;
  width: 40%;
}

.work-hours{
  width: 60%;
  margin: auto 0;
  text-align: right;
}

.logos{
  width: 50%;
  margin: auto 10%;
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}

.row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sidebar-col-2 img {
  width: 100%
}

.sidebar-col-2 button {
  display: block;
  position: relative;
  margin: 5px auto;
}

.sidebar-col-2 h2 {
  text-align: center;
  font-weight: normal;
}

.sidebar-col-2 p {
  text-align: center;
}

#main-picture {
  width: 100%;
  margin-top: 5px;
}

button {
  padding: 20px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}

.program-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}

.dates-header{
  display: flex;
  margin-top: 10px;
}

.dates-header img {
  width: 40px;
  margin-right: 10px;
}

.route-header {
  display: flex;
}

.route-header img {
  width: 40px;
  margin-right: 10px;
}

.route-info {
  margin-left: 40px;
}

hr {
  height: 3px;
  width: 50%;
  margin-bottom: 10px;
}

.text {
  width: 100%;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }

  .col-8 {
    justify-content: center;
    flex-direction: column;
  }

  .wrapper {
    width: 100%;
  }

  .menu {
    display: none;
  }

  .mmenu {
    display: flex;
    width: 100%;
  }

  .mmenu .logo {
    margin: 0 auto;
    width: 50px;
  }

  .paragraph {
    display: block;
  }
  .screen-2 {
    display: block;
  }
  footer {
    display: none;
  }

  .mobile-footer{
    display: block;
    width: 100%;
    background-color: #4BC1FD;
    color: white;
  }

  .mobile-footer a {
    text-decoration: none;
    color: white;
  }

  .mobile-footer-info {
    display: flex;
    justify-content: space-between;
  }
  .mobile-logos{
    display: flex;
    margin: auto 5%;
    justify-content: space-around;
  }

  .mobile-logos img {
    width: 60%;
  }
  .col4 {
    width: 100%;
  }
  .paragraph img {
    width: 100%;
  }
  .col-8 .col-4{
    width: 100%;
  }
  button {
    font-size: 18px;
    margin: 10px auto 0;
  }
}

